.firstE,
.secondE {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.firstE {
    background-color: black;
    color: white;
}
.secondE {
    background-color: yellow;
}